<div id="think_page_trace" style="position: fixed;bottom:0;right:0;font-size:12px;width:100%;z-index: 999999;color: #000;text-align:left;font-family:'Microsoft YaHei';">

	<script type="text/javascript" src="/index.php?api=asset&resource=jquery.jsonview.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/index.php?api=asset&resource=jquery.jsonview.min.css" />
	<style type="text/css">
		.tp-panel-title {
			color: #000;
			padding-right: 12px;
			height: 30px;
			line-height: 30px;
			display: inline-block;
			margin-right: 3px;
			cursor: pointer;
			font-weight: 700
		}

		.think_page_trace_tab_tit {
			height: 30px;
			padding: 0px 3px 15px 10px;
			border-bottom: 1px solid white;
			border-top: 1px solid white;
			font-size: 14px;
			background-color: rgb(240, 240, 240);
			box-shadow: 0px -5px 5px #888888;
		}
	</style>

	<div id="think_page_trace_tab" style="display: none;background:white;margin:0;height: 450px;">
		<div class="think_page_trace_tab_tit" id="think_page_trace_tab_tit">
			<span class="tp-panel-title">Summary</span>
			<span class="tp-panel-title">Includes</span>
			<span class="tp-panel-title">App Events</span>
			<span class="tp-panel-title">Console</span>
			<span class="tp-panel-title">SQL</span>
			<span class="tp-panel-title">Variables</span>
			<span class="tp-panel-title">Environment</span>
		</div>

		<div id="think_page_trace_tab_cont" style="overflow:auto;height:412px;padding: 0; line-height: 24px">
			<div class="think_page_trace_tab_cont" style="display:none;">
				<ol style="padding: 0; margin:0">
					<li style="border-bottom:1px solid #EEE;font-size:14px;padding:0 12px">Http Header :
						{$http.time}
						{$http.protocol}
						{$http.method} :
						{$http.uri}
					</li>
					<li style="border-bottom:1px solid #EEE;font-size:14px;padding:0 12px">Benchmark : {$benchmark} ( Load:{$benchmark.load}
						Init:{$benchmark.init} Exec:{$benchmark.exec} Template:{$benchmark.template} )
					</li>
					<li style="border-bottom:1px solid #EEE;font-size:14px;padding:0 12px">Traffic : {$benchmark_n} req/s</li>
					<li style="border-bottom:1px solid #EEE;font-size:14px;padding:0 12px">Memory : {$memory_size}</li>
					<li style="border-bottom:1px solid #EEE;font-size:14px;padding:0 12px">SQL : {$sql.queries} queries {$sql.writes} writes
						</li>
					<li style="border-bottom:1px solid #EEE;font-size:14px;padding:0 12px">File Loaded : {$files}</li>
					<li style="border-bottom:1px solid #EEE;font-size:14px;padding:0 12px">Cache : {$cache.path} </li>
					<li style="border-bottom:1px solid #EEE;font-size:14px;padding:0 12px">PHP_SESSION :
						{$http.php_session}
					</li>
					<!-- 获取得到调试器数据所需要的一个guid编号 -->
					<li style="border-bottom:1px solid #EEE;font-size:14px;padding:0 12px">Debugger Guid :
						<span id="debugger_guid">{$debugger_guid}</span>
					</li>
					<li style="border-bottom:1px solid #EEE;font-size:14px;padding:0 12px">Github Commits: 
						[<a href="https://github.com/GCModeller-Cloud/php-dotnet/tree/{$git}">{$git}</a>]
					</li>
					<li style="border-bottom:1px solid #EEE;font-size:14px;padding:0 12px">Author :
						xieguigang &lt;<a href="mailto://xie.guigang@gcmodeller.org">xie.guigang@gcmodeller.org</a>>
					</li>
				</ol>
			</div>
			<div class="think_page_trace_tab_cont" style="display:none;">
				<ol style="padding: 0; margin:0">

					<foreach @Includes>
						<li style="border-bottom:1px solid #EEE;font-size:14px;padding:0 12px">@Includes["path"] ( @Includes["size"] )</li>
					</foreach>

				</ol>
			</div>
			<div class="think_page_trace_tab_cont" style="display:none;">
				<ol style="padding: 0; margin:0">

					<foreach @Events>
						<li style="border-bottom:1px solid #EEE;font-size:14px;padding:0 12px">
							<strong>@Events["time"]</strong> &nbsp;&nbsp;@Events["description"]</li>
					</foreach>

				</ol>
			</div>
			<div class="think_page_trace_tab_cont" style="display:none;">
				<ol style="padding: 0; margin:0">

					<foreach @Console>
						<li style='border-bottom:1px solid #EEE;font-size:14px;padding:0 12px; color: @Console["color"];'>
							<span style="display: inline-block;float: left;">
								@Console["time"] &nbsp;</span>
							<span style="display: inline-block;">@Console["msg"]</span>
							<span style="display: inline-block;float: right;">@Console["file"] at line @Console["line"]</span>
						</li>
					</foreach>

				</ol>
			</div>
			<div id="mysql-logs-tabpage" class="think_page_trace_tab_cont" style="display:none;">
				<ol id="mysql-logs" style="padding: 0; margin:0">

					<foreach @MySql>
						<li style="border-bottom:1px solid #EEE;font-size:14px;padding:0 12px">@MySql["sql"] [ RunTime:@MySql["time"] ]</li>
					</foreach>

				</ol>

				<div id="mysql-query-display-page" style="width: 100%; display: none; border-bottom:1px solid #EEE;font-size:14px;padding:0 12px;">
					<p style="font-weight: bold; widows: 100%; margin-top: 5px;">
						Show data table query content of expression: 
						<div style="float: right; text-align:right; margin-top:-2.5em;">
						<a href="javascript:void(0);" id="mysql-close" style="cursor: pointer;">[close]</a>
						</div>
					</p>
					<div id="mysql-query">
						<i><span id="mysql" style="margin-left: 1%;"></span></i> 
					</div>
			
					<hr />

					<table id="mysql-query-display" style="width: 95%; padding: 0; margin:10px; ">
		
					</table>
				</div>
			</div>
			<div class="think_page_trace_tab_cont" style="display:none;">
				<ol style="padding: 0; margin:0">

					<foreach @Vars>
						<li style="border-bottom:1px solid #EEE;font-size:14px;padding:0 12px">
							<strong>@Vars["name"]:</strong> @Vars["value"]</li>
					</foreach>

				</ol>
			</div>
			<div class="think_page_trace_tab_cont" style="display:none;">
				<ol style="padding: 0; margin:0">

					<foreach @Envir>
						<li style="border-bottom:1px solid #EEE;font-size:14px;padding:0 12px">
							<strong>@Envir["name"]:</strong> @Envir["value"]</li>
					</foreach>

				</ol>
			</div>
		</div>
	</div>
	<div id="think_page_trace_close" style="display:none;text-align:right;height:15px;position:absolute;top:10px;right:12px;cursor: pointer;">
		<img id="think_page_trace_close_button" style="vertical-align:top;" src="/index.php?api=asset&resource=close.gif"
		/>
	</div>
</div>
<div id="think_page_trace_open" style="height: 30px;float: right;text-align: right;overflow: hidden;position: fixed;bottom: 5px;right: 2px;color: rgb(0, 0, 0);line-height: 30px;cursor: pointer;display: block;">
	<div style="background:#232323;color:#FFF;padding:0 6px;float:right;line-height:30px;font-size:14px">{$total_time}</div>
	<img width="30" title="ShowPageTrace" src="/index.php?api=asset&resource=icon.png">
</div>
<script type="text/javascript" src="/index.php?api=asset&resource=js_worker.js"></script>